<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>login</title>
</head>
<body>
    <div class="login-form">
    <form class="login"   method="post" action="/login" >
        <h1 class="login-text-one">Giriş yap</h1>
            <label for="name" class="login-text">Username</label>
            <input type="name" name="name" id="name" class="login-input" placeholder="name" required="">
            <br></br>
            <label for="password" class="login-text">Paswırd</label>
            <input type="password" name="password" id="password" placeholder="••••••••" class="login-input" required="">
            <br></br>
        <button type="submit" class="login-btn">Giriş yap</button>
    </form>
</div>  
</body>
</html>